<div class="form-group">
  <%= form_with(model: [post, comment]) do |form| %>
    <div id="comments-error">
      <%= render 'comments/error_messages', model: form.object %>
    </div>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= form.submit class: '' %>
    </div>
  <% end %>
</div>
