<div class="form-group">
  <%= form_with(model: [post, comment]) do |form| %>
    <div id="comments-error">
      <%= render 'comments/error_messages', model: form.object %>
    </div>
    <div class="field">
      <%= form.label t('view.comment_content') %>
      <%= form.text_area :content, class: 'form-control', placeholder: t('view.comment_content_area') %>
    </div>
    <div class="actions text-center">
      <%= form.submit t('view.post_to') %>
    </div>
  <% end %>
</div>
