<div class="container flexbox-container-vertical-center">
  <div>
    <h1 class="user-header"><%= "#{@user.name}さんのプロフィール" %></h1>
    <ul class="list-group">
      <li class="list-group-item list-icon"><%= image_tag @user.icon.variant(gravity: 'Center', resize: '300x300').processed, class:'img-circle' if @user.icon.attached? %></li>
      <li class="list-group-item"><%= t('view.email') %>：<%= "#{@user.email}" %></li>
      <% if @user.islands.present? %>
        <li class="list-group-item"><%= t('view.favorite_islands') %>：
          <% @user.islands.each do |island|%>
            <%= link_to island.name, posts_path(island.id, search_island: "true"), class: 'label label-primary' %>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item"><%= link_to t('view.edit_profile'), edit_user_registration_path, class: "btn btn-default user-btn-field" %></li>
    </ul>
  </div>
</div>
