<h1><%= "#{@user.name}さんのプロフィール" %></h1>
<ul>
  <% if @user.icon.attached? %>
    <li><%= image_tag @user.icon %></li>
  <% end %>
  <li><%= t('view.email') %>：<%= "#{@user.email}" %></li>
  <% if @user.islands.present? %>
    <li><%= t('view.favorite_islands') %>：
    <% @user.islands.each do |island|%>
      <%= island.name %>
    <% end %>
    </li>
  <% end %>
<div>
  <%= link_to t('view.edit_profile'), edit_user_registration_path %>
</div>
