<div class="form-group flexbox-container-vertical-center">
  <div class="post-form">
    <%= form_with(model: post, local: true, url: choose_new_or_edit) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, t('activerecord.errors.messages.prohibited_this_model_from_being_saved')) %></h2>
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label '思い出の写真を投稿しよう！' %>
        <%= form.file_field :image %>
      </div>
      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, class: "form-control", placeholder: t('view.content_area') %>
      </div>
      <div class="field">
        <p class="field-title">どこへの旅ですか？</p>
        <%= form.label :prefecture %><br>
        <%= form.select :prefecture, Post.prefectures.keys, {}, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label '離島（複数可）' %><br>
        <%= form.collection_check_boxes(:island_ids, Island.all, :id, :name, class: "form-control") %>
      </div>
      <div class="actions">
        <% if action_name == "new" %>
          <%= form.submit t('view.post_to') %>
        <% else %>
          <%= form.submit %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
