<h1>Posts</h1>
    <% @posts.each do |post| %>
      <div class="">
        <ul class="">
          <li><%= image_tag post.user.icon %></li>
          <li><%= post.user.name %></li>
          <li><%= post.prefecture %></li>
          <!-- 離島ラベル -->
        </ul>
        <ul>
          <li><%= image_tag post.image %></li>
          <li><%= post.content %></li>
          <!-- お気に入り機能エリア -->
        </ul>
        
        <ul id="favorite-btn-<%= post.id %>">
          <%= render partial: 'favorites/favorite', locals: { post: post } %>
        </ul>
        <%= link_to t('view.show'), post %>
      </div>

    <% end %>
