<div class="bg-posts-index">
  <div class="container">
    <div class="row">
      <!-- モーダル内容 -->
      <div class="modal fade" id="newPostModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
              <h4 class="modal-title text-center">思い出をシェアしよう！</h4>
            </div>
            <div class="modal-body">
              <%= render 'form', post: @post %>
            </div>
          </div>
        </div>
      </div>
      <!-- 検索・新規投稿エリア -->
      <div class="col-md-4 col-md-offset-1 search-form-contents">
        <!-- モーダルボタン -->
        <button type="button" class="btn btn-block btn-modal" data-toggle="modal" data-target="#newPostModal"><i class="fa fa-send"></i> 思い出をシェア</button>
        <!-- 検索フォーム -->
        <%= search_form_for @q, url: posts_path, remote: true, id: "search-form" do |f| %>
          <p><span class="form-title">気になる離島を見つけよう！</span></p>
          <div class="form-group">
            <%= f.label :content_cont, 'キーワード', class: "label label-default" %>
            <%= f.search_field :content_or_comments_content_cont, class: 'form-control', placeholder: '気になるワードで検索' %>
          </div>
          <div class="form-group">
            <%= f.label :islands_id_eq, '離島名', class: "label label-default" %>
            <%= f.collection_select :islands_id_eq, Island.all, :id, :name, { prompt: ''}, { class: 'select2_search'} %>
          </div>
          <span class="label label-default label-button" id="show-hide-btn">都道府県名（クリックで表示）</span>
          <div class="prefecture-field">
            <% Post.prefectures.drop(1).each do |prefecture| %>
              <% if prefecture[0] == "北海道" %>
                <p>北海道・東北</p>
              <% elsif prefecture[0] == "茨城県" %>
                <p>関東</p>
              <% elsif prefecture[0] == "新潟県" %>
                <p>中部</p>
              <% elsif prefecture[0] == "三重県" %>
                <p>関西</p>
              <% elsif prefecture[0] == "鳥取県" %>
                <p>中国</p>
              <% elsif prefecture[0] == "徳島県" %>
                <p>四国</p>
              <% elsif prefecture[0] == "福岡県" %>
                <p>九州・沖縄</p>
              <% end %>
              <%= f.label :prefecture_eq, prefecture[0], class: "radio-inline" %>
              <%= f.radio_button :prefecture_eq, prefecture[1] %>
            <% end %>
          </div>
          <div class="search-btn">
            <%= f.submit '検索', class: 'test center-block' %>
          </div>
        <% end %>
      </div>
      <!-- 投稿一覧エリア -->
      <div class="col-md-5 col-md-offset-1 post-contents" id="posts-area">
        <%= render partial: 'posts/index', locals: { posts: @posts } %>
      </div>
    </div>
  </div>
</div>
