<h1>Posts</h1>

<%= search_form_for @q, url: posts_path do |f| %>
  <%= f.label :content_cont, 'キーワード' %>
  <%= f.search_field :content_cont %>
  <%= f.label :islands_id_eq, '離島名' %>
  <%= f.collection_select :islands_id_eq, Island.all, :id, :name, {include_blank: '--未選択--'}, {class: ''} %>
  <%= f.submit '検索' %>
<% end %>

<%= search_form_for @q, url: posts_path do |f| %>
  <%= f.label :prefecture_eq, '都道府県' %>
  <%= f.select :prefecture_eq, Post.prefectures{|key,value| [Post.prefectures[key],value]} %>
  <%= f.submit '検索' %>
<% end %>

    <% @posts.each do |post| %>
      <div class="">
        <ul class="list-inline">
          <li><%= image_tag post.user.icon %></li>
          <li><%= post.user.name %></li>
          <li><%= post.prefecture %></li>
          <% if post.islands.present? %>
            <% post.islands.each do |island|%>
              <li><%= island.name %></li>
            <% end %>
          <% end %>
        </ul>

        <ul>
          <li><%= image_tag post.image %></li>
          <li><%= post.content %></li>
        </ul>

        <ul id="favorite-btn-<%= post.id %>">
          <%= render partial: 'favorites/favorite', locals: { post: post } %>
        </ul>
        <ul>
          <li><%= "コメント#{post.comments.count}件" %></li>
        </ul>

        <ul class="list-inline">
          <li><%= link_to t('view.comment'), post %></li>
          <li><%= link_to t('view.show'), post %></li>
        </ul>

        <% post.comments.each do |comment| %>
          <ul class="list-inline">
            <li><%= image_tag comment.user.icon %></li>
            <li><%= comment.content %></li>
          </ul>
        <% end %>
      </div>

    <% end %>
