<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-inline">
        <li><%= image_tag @post.user.icon.variant(gravity: 'Center', resize: '60x60').processed, class:'img-circle' if @post.user.icon.attached? %></li>
        <li><%= @post.user.name %></li>
        <li><%= @post.prefecture unless @post.prefecture == '--未選択--' %></li>
        <% if @post.islands.present? %>
          <% @post.islands.each do |island|%>
            <li><%= link_to island.name, posts_path(island.id, search_island: "true") %></li>
          <% end %>
        <% end %>
      </ul>
      <%= image_tag @post.image.variant(gravity: 'Center', resize: '500x600').processed, class:'' if @post.image.attached? %>
      <p class=""><%= @post.content %></p>
      <% if @post.user == current_user %>
        <ul class="list-inline">
          <li><%= link_to t('view.edit'), edit_post_path(@post) %></li>
          <li><%= link_to t('view.destroy'), post_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      <% end %>
    </div>
    <div class="right-wrapper col-md-offset-1 col-md-5">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
      </div>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>
  </div>
  <span><%= link_to t('view.back'), posts_path %></span>
</div>
