<div class="">
  <ul class="">
    <li>
      <% if @post.user.icon.attached? %>
        <%= image_tag @post.user.icon %>
      <% end %>
    </li>
    <li><%= @post.user.name %></li>
    <li><%= @post.prefecture %></li>
    <% if @post.islands.present? %>
      <% @post.islands.each do |island|%>
        <li><%= link_to island.name, posts_path(island.id, search_island: "true") %></li>
      <% end %>
    <% end %>
  </ul>
  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
</div>

<%= link_to t('view.edit'), edit_post_path(@post) %>
<%= link_to t('view.destroy'), post_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
</div>
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

<%= link_to t('view.back'), posts_path %>
